/*------------------------------------------*/
/*		  07 - Single Project Styles
/*------------------------------------------*/


.project {
  padding-top: 30px;
}

.project-page {
margin-bottom: 50px;
}

.project-slider {
position: relative;
}

.project-slider img {
border-radius: 4px;
-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.project-slider .thumb-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 4px;
-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
background-color: rgba(0,0,0,0);
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

.project-slider:hover .thumb-overlay {
background: rgba(255,255,255,0.5);
}

.project-slider .thumb-overlay i {
font-size: 3em;
color: rgba(0,0,0,0);
position: absolute;
left: 50%;
top: 42%;
margin-left: -27px;
margin-top: -19px;
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

.project-slider:hover .thumb-overlay i {
top: 50%;
color: #444;
}

.project-content h4 {
margin-bottom: 12px;
padding-bottom: 8px;
border-bottom: 1px solid #eee;
}

.project-content h4 span {
padding-bottom: 8px;
border-bottom: 1px solid;
}

.project-content p, .project-content ul {
margin-bottom: 30px;
}

.project-content ul li {
margin-bottom: 5px;
}


.recent-projects h4.title {
margin-bottom: 16px;
padding-bottom: 8px;
border-bottom: 1px solid #eee;
}

.recent-projects h4.title span {
padding-bottom: 8px;
border-bottom: 1px solid;
}

.projects-carousel {
width: 1150px !important;
}

.projects-carousel .item {
margin-right: 15px;
margin-bottom: 0;
}

.full-width-recent-projects .projects-carousel {
width: 100% !important;
}

.full-width-recent-projects .projects-carousel .item {
margin: 0;
}

.full-width-recent-projects .portfolio-item .portfolio-border {
padding: 0;
border: 0;
border-radius: 0;
box-shadow: none;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay {
opacity: 0.65;
z-index: 9994;
}

.full-width-recent-projects .portfolio-item .portfolio-thumb .thumb-overlay i {
top: 25%;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-thumb .thumb-overlay i {
color: #fff;
top: 45%;
}

.full-width-recent-projects .portfolio-item .portfolio-details {
position: absolute;
bottom: -10px;
opacity: 0;
width: 100%;
z-index: 9995;
padding: 0 20px;
transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-webkit-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-details {
bottom: 10px;
opacity: 1;
}

.full-width-recent-projects .portfolio-item:hover .portfolio-details h4 {
color: rgba(255,255,255,.9);
}

.full-width-recent-projects .portfolio-item .portfolio-details a span {
color: rgba(255,255,255,.8);
}

.full-width-recent-projects .portfolio-item .portfolio-details .like-link i, .full-width-recent-projects .portfolio-item .portfolio-details .like-link span {
color: #fff;
}