@import url(https://fonts.googleapis.com/css?family=ZCOOL%20KuaiLe);
@import url(https://fonts.googleapis.com/css?family=Ma%20Shan%20Zheng);

:root {
  --bg-color: linear-gradient(#d9eff7 0%, rgb(0 0 0 / 10%) 100%),
    linear-gradient(90deg, #bce5ff, #ebf1ff);
  --main-color: #036797;
  --second-color: linear-gradient(120deg, #363b37, #0010ff);
  --font-color: rgb(189, 189, 189);
}

:root {
  --bg-color: linear-gradient(rgb(37 37 37) 0%, rgb(0 0 0 / 10%) 100%),
    linear-gradient(90deg, #4d626f, #0c001a);
  --main-color: #036797;
  --second-color: linear-gradient(120deg, #3dc1eb, #0010ff);
  --font-color: rgb(189, 189, 189);
}

body {
  background: var(--bg-color) !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/**********************************************************************************/

/*                                   NAVBAR                                       */

/**********************************************************************************/

.navbar {
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(8px) brightness(80%);
}

.logo {
  background: var(--second-color);
  background-clip: text;
  color: white;
  font-family: ZCOOL KuaiLe, kaiti;
  font-size: 23px;
  -webkit-text-stroke: 4px transparent;
}

.nav-container a .mobile-login {
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  right: 15px;
  top: 4px;
  z-index: 1002;

  & i {
    background: var(--second-color);
    color: black;
    padding: 1px;
    border-radius: 50%;
  }
}

.nav-container .hamburger-lines {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  left: 20px;
  position: absolute;
  top: 13px;
  width: 25px;
  z-index: 1002;

  & .line {
    background: var(--second-color);
    border-radius: 10px;
    display: block;
    height: 3px;
  }
  & .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  & .line2 {
    transition: transform 0.2s ease-in-out;
  }
  & .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
}

.navbar .menu-items {
  height: fit-content;
  position: absolute;
  top: 50px;
  transform: translatex(-200%);
  transition: transform 0.5s ease-in-out;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;

  & .school-logo {
    background: rgba(17, 17, 26, 0.8);
    box-shadow: rgba(17, 17, 26, 0.5) 0px 1px 0px,
      rgba(17, 17, 26, 0.5) 0px 8px 24px, rgba(17, 17, 26, 0.5) 0px 16px 48px;
  }

  & .sidemenu a {
    display: grid;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px;
    z-index: 1;
    width: fit-content;
    border-radius: 25px;
    overflow: hidden;
    padding: 10px 25px;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 25px;
      padding: 2px;
      background: var(--second-color);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }
}

.nav-container input[type="checkbox"] {
  display: none;

  &:checked {
    & ~ .menu-items {
      transform: translate(0);
    }
    & ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
    & ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
    & ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
  }
}

.breadcrumb {
  background: #ffffff00;
  margin-top: 50px;
}

.breadcrumb a {
  color: grey;
  text-decoration: none;
}

.breadcrumb .fa-home {
  background: var(--second-color);
  background-clip: text;
  padding: 0;
  -webkit-text-fill-color: transparent;
}

/**********************************************************************************/

/*                                   SIDEBAR                                      */

/**********************************************************************************/

.sidebar {
  background: #43435169;
}

.school-logo {
  padding: 20px;
  padding-left: 10px;
  background: var(--main-color);
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFXZv0VBfQe5tVq6frR-_CLMHTnDzaRiwoBQ&usqp=CAU")
    right bottom;
  background-size: cover;
}

.button-index {
  background: linear-gradient(
    45deg,
    #05abe0,
    #05abe0,
    #040ea3,
    #040ea3,
    #05abe0,
    #05abe0
  );
  background-size: 400%;
  animation: glowing-button 20s linear infinite;
  display: flex !important;
  padding: 1px;
  width: 91%;
  height: fit-content;
  margin: 30px 4%;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none !important;
  font-family: kaiti;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 13px;

  & span {
    border-radius: inherit;
    background: black;
    background-size: 200%;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: clamp(18px, 1.5vw, 200px);
    color: var(--font-color);
  }

  &:hover {
    border-radius: 0px;
  }
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.sidemenu {
  letter-spacing: 2px;
  padding-bottom: 100px;
  padding-top: 10px;
}

.sidemenu a {
  padding: 15px 20px;
  text-decoration: none;
  width: 100%;
  background-color: #ffffff00;
  color: #000000;
  display: inline-block;
  background-color: #ffffff00;
  position: relative;

  &::before {
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
      -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    backdrop-filter: brightness(80%);
  }

  & span {
    z-index: 1;
    position: relative;
    transition: 0.3s;
    color: #ffffff8f;
    font-size: clamp(13px, 1.1vw, 20px);
    width: 50vw;
    max-width: 200px;

    & .fa {
      padding-right: 10px;
      width: 30px;
      text-align: center;
    }
  }

  &:hover:before {
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }

  &:hover span {
    padding-left: 10px;
    background: var(--second-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.login {
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    45deg,
    #05abe0,
    #05abe0,
    #040ea3,
    #040ea3,
    #05abe0,
    #05abe0
  );
  background-size: 400%;
  animation: glowing-button 20s linear infinite;
  display: flex;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  font-family: kaiti;
  font-weight: bold;
  padding-top: 1px;
  transition: 0.2s;

  &:hover {
    text-decoration: none;
    padding-top: 5px;
  }

  & span {
    background: black;
    padding: 30px 10px;
    width: 100%;
    height: 100%;
    font-size: x-large;
    z-index: 1000;
    color: var(--font-color);
  }

  & span .fa {
    transform: scale(1.5);
  }
}

/**********************************************************************************/

/*                                     PANEL                                      */

/**********************************************************************************/

.panel {
  background: rgb(255 255 255 / 5%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: rgb(189, 189, 189) !important;
  font-family: Arial, 楷体, KaiTi;
  font-size: clamp(17px, 1.5vw, 20px);
  line-height: 1.8;
  margin: 40px 10px;
  overflow: hidden;
}

.panel p {
  color: rgb(189, 189, 189) !important;
}

.panel-default .panel-heading {
  color: white;
  font-size: clamp(20px, 2vw, 30px);
  font-weight: bold;
  height: fit-content;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  background: none;
  border-radius: 16px 16px 0 0;
  border: none;
  padding: 15px;
  line-height: 20px;

  background: linear-gradient(
    to bottom,
    rgba(180, 180, 180, 0.5) 0%,
    rgba(180, 180, 180, 0.3) 3%,
    rgba(180, 180, 180, 0.1) 45%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 28%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.3) 65%,
    rgba(255, 255, 255, 0.01) 90%,
    rgba(0, 0, 0, 0.3) 95%,
    rgba(0, 0, 0, 0.3) 100%
  ); /* W3C */
}

.panel-body {
  padding: 10px 30px;
  background: rgb(255 255 255 / 5%);
}

.panel-body h3 {
  border-bottom: 1px solid transparent;
  border-image: var(--second-color);
  border-image-slice: 1;
  color: gainsboro;
  font-size: clamp(15px, 1.8vw, 25px);
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.panel-content {
  padding-bottom: 30px;
  padding-top: 20px;
}

/**********************************************************************************/

/*                                  CAROUSEL                                      */

/**********************************************************************************/

.carousel-indicators li {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.4);
  }

  &.active {
    background: var(--second-color) !important;
    transform: scale(1.4);
  }
}

#main-slide .carousel-control i {
  background: #ffffff00 !important;
}

#main-slide .carousel-control a:hover i {
  background: rgba(255, 255, 255, 0.2) !important;
}

/**********************************************************************************/

/*                                    TITLE                                       */

/**********************************************************************************/

.title {
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif, "Ma Shan Zheng", "kaiti";
  font-weight: 300;
  font-size: clamp(40px, 3vw, 60px);
  letter-spacing: 10px;
  padding: 0 10px;

  & span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.content {
  color: rgb(189, 189, 189) !important;
  font-family: Arial, KaiTi;
  font-size: clamp(17px, 1.7vw, 200px);
  line-height: 1.8;
  padding: 50px 0;
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    padding-left: 30px;
    text-indent: -35px;

    &::before {
      content: "★";
      background: grey;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: x-large;
      padding-right: 10px;
      transition: 0.2s;
    }

    &:hover:before {
      background: #fe7;
      background-clip: text;
      text-shadow: 0 0 10px #952;
    }
  }
}

.glass {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  text-decoration: none;

  padding: 0.5em 1.5em;
  width: 90%;
  margin: 5%;

  border: 1px inset rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  transition: all 0.1s ease-in-out;

  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.6) 20%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.glass:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 2%;
  width: 96%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 15%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.75) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.glass:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 2%;
  width: 96%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.5) 95%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.submit-btn {
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: block;
  border: none;
  background-position: right center;

  background-image: linear-gradient(115deg, #0a7eb5 20%, #00d0ff, #0380bb 80%);
  padding: 5px 30px;
  text-shadow: 0px 0px 10px rgb(0, 0, 0, 1);
  margin: 50px;

  &:hover {
    background-position: left center;
    color: #fff;
    text-decoration: none;
  }
}

.panel-body .panel-body {
  padding: 30px;
  border-radius: 10px;
}

input[type="checkbox"] {
  accent-color: #008df1;
  margin: 0;
}
